<!DOCTYPE html>
<html lang="en">
  <%- include("./headers/moderator_home.ejs") %>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Service</title>
    <style type="text/css">
      * {
        margin: 0;
        padding: 0;
      }
      body {
        background-color: white;
        font-family: sans-serif;
        background-image: url("https://vanleeuwenlawfirm.eu/en/wp-content/uploads/sites/13/2021/07/call-center-operators-their-office-workplaces_179970-1906-1.jpg");
        background-size: cover;
      }
      .container {
        width: 400px;
        margin: 50px auto 0px auto;
      }
      h2 {
        text-align: center;
        padding: 20px;
        font-family: sans-serif;
      }
      .create-service-content {
        background-color: rgba(34, 32, 32, 0.5);
        width: 100%;
        font-size: 18px;
        border-radius: 10px;
        border: 1px solid rgba (255, 255, 255, 0.3);
        color: #fff;
        padding-left: 5px;
        padding-top: 10px;
        padding-bottom: 20px;
      }
      label {
        font-family: sans-serif;
        font-size: 18px;
        font-style: italic;
      }
      button {
        width: 80px;
        height: 35px;
      }
      input#description {
        width: 300px;
      }
      input#name {
        width: 300px;
      }
      input#cost {
        width: 300px;
      }
      select#categories {
        width: 300px;
      }
      input#img {
        width: 300px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="create-service-content">
        <form action="/moderatorapi/addservice" method="POST">
          <label for="title">Service Name:</label>
          <br />
          <input
            type="text"
            id="name"
            name="name"
            required
            value="<%= (typeof form != 'undefined')? form.name : '' %>"
          />
          <br /><br />
          <label for="category">Select Category</label> <br />
          <select name="categories">
            <% var options = []; %> <% for(var i = 0; i < categories.length;
            i++) { %>
            <option value="<%= categories[i].CATEGORY_NAME %>">
              <%= categories[i].CATEGORY_NAME %>
            </option>
            <% } %>
          </select>
          <br /><br />
          <label for="description">Service Description:</label> <br />
          <input
            type="text"
            id="description"
            name="description"
            required
            value="<%= (typeof form != 'undefined')? form.description : '' %>"
          />
          <br />
          <br />
          <label for="cost">Service Cost:</label> <br />
          <input
            type="number"
            id="cost"
            name="cost"
            min="100"
            required
            value="<%= (typeof form != 'undefined')? form.cost : '' %>"
          />
          <br />
          <br />
          <label for="img">Service Cover Photo</label> <br />
          <input
            type="text"
            id="img"
            name="img"
            required
            value="<%= (typeof form != 'undefined')? form.cost : '' %>"
          />
          <br />
          <br />
          <button>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
